

.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr) auto 50px; /* Added space for the edit button */
  align-items: center;
  height: 4.12vh;
  width: 76.51vw;
  background-color: #3b1e1e;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 0 10px;
  color: white;
  transition: transform 0.3s ease;
  position: relative;
}

.gameInfo {
  display: contents;
}

span {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  grid-column: 7;
  justify-self: end;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust space between rows */
  justify-content: space-between;
}

.edit-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3b1e1e; /* Color of the icon background */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px; /* Space between row and edit icon */
  cursor: pointer;
  transition: transform 0.3s ease, margin-left 0.3s ease;
}

.row-container:hover .row {
  transform: scale(1.03);
}

.row-container:hover .edit-icon {
  transform: scale(1.03);
  margin-left: 38px; /* Adjust margin to prevent overlap when scaling */
}

.edit-icon svg {
  color: white; /* Color of the icon itself */
  font-size: 18px; /* Size of the icon */
}