.rowFilter {
    display: grid;
    grid-template-columns: repeat(6, 1fr) auto; /* Same grid structure as .row */
    align-items: center;
    height: 2.5vh; /* Height for alignment */
    width: 76.51vw; /* Ensure the same width as rows */
    background-color: green; /* Keep the green background for the header */
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 0 10px; /* Horizontal padding */
    position: sticky; /* Ensures it stays at the top */
    top: 0; /* Sticks it at the very top of the container */
    z-index: 1; /* Ensures it appears above scrolling rows */
}

.gameInfo {
    display: contents; /* Ensures that the spans take up the grid's space directly */
}

span {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.score {
    grid-column: 7; /* Make sure the score is in the last column */
    justify-self: end;
    align-self: center;
    cursor: pointer;
}
